
h2 {
  margin-top: 2em;
  margin-bottom: 1px;
  font-size: 1rem;
  border: 0;
  text-align: center;
  font-weight: 1;
}
#title {
  flex-direction: column;
  position: relative;
  color: inherit; /* Set the color to inherit from its parent element */
  text-decoration: none; /* Remove underline */
}
#title:before {
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 0;
  margin-left: 100px;
  bottom: 20px;
  transition: 0.3s ease;
  border-radius: 2px;
}
#title:hover:before {
  width: 0;
}
button {
  margin-top: 1em;
  font-size: 2rem;
  border: none;
  outline: none;
  padding: 10px;
  background-color: #faf3eb;
  color: rgb(186, 174, 157);
  margin: 0 auto;
  display: block;
}
#contacts {
  text-decoration: none; /* Remove underline */
  align-items: center; /* Center elements horizontally */
  margin-top: 1em;
  margin-bottom: 1em;
}
h1 {
  margin-top: 5px;
  margin-left: auto; /* Set left margin to auto */
  margin-right: auto;
  margin-bottom: 2px;
  font-size: 4rem;
  text-align: center;
  border: 0;
  font-weight: 1;
}
body {
  margin: auto;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #faf3eb;
}
main {
  margin: 0 auto;
  background-color: #faf3eb;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center elements horizontally */
  text-align: center;
}
.explanation-container {
  color: inherit; /* Set the color to inherit from its parent element */
  text-decoration: none; /* Remove underline */
  margin-top: 4rem;
  max-width: 100%; /* Ensure the images fit within their grid cells */
  height: auto; /* Maintain image aspect ratio */
}
.grid-container {
  margin-top: 4rem;
  max-width: 47%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 9 equal-width columns */
  grid-auto-rows: 0.2fr; /* Equal height rows */
  gap: 0.9rem; /* Adjust the gap between images as needed */
}
.grid-container img {
  max-width: 100%; /* Ensure the images fit within their grid cells */
  height: auto; /* Maintain image aspect ratio */
  width: 100%; /* Added to ensure images stay within the grid container */
}
.explanation {
  margin-top: 1rem;
}
p {
  text-align: center;
  font-size: 3rem;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* margin-top: 5em; */
}
.linkingPics {
  margin-top: 1rem;
  max-width: 750px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 9 equal-width columns */
  grid-auto-rows: 0.2fr; /* Equal height rows */
  gap: 10px;
}
.linkingPics img {
  max-width: 100%; /* Ensure the images fit within their grid cells */
  height: auto;
}

/* aside {
  margin-top: 1rem;
  display: block;
  flex-direction: row;
  align-items: center;
  text-align: end;
  width: 50em;
} */

h3 {
  margin-top: 2em;
  margin-bottom: 10px;
  font-size: 1rem;
  border: 0;
  text-align: center;
  font-weight: 1;
  color: rgb(186, 174, 157);
}
aside {
  margin-top: 10rem;
  display: flex;
  flex-direction: row; /* Change flex-direction to row */
  align-items: center;
  justify-content: space-between; /* Add justify-content property */
  text-align: end;
  width: 65%;
}

@media (min-width: 600px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  .grid-container {
    margin-top: 10rem;
    max-width: 57%;
  }
  p {
    font-size: 1rem;
  }
  footer {
    margin-top: 15rem;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 10rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .grid-container {
    margin-top: 15rem;
    max-width: 57%;
  }
  p {
    font-size: 1.25rem;
  }
  footer {
    margin-top: 19rem;
  }
}

/* mobile look*/
@media (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1rem;
  }
  .explanation-container img {
    max-width: 90%; /* Ensure the images fit within their container */
    height: auto; /* Maintain image aspect ratio */
  }
  .grid-container {
    margin-top: 5rem;
    max-width: 90%;
    gap: 0.3rem
  }
  p {
    font-size: 0.8rem;
    margin: 1em;
  }
  footer {
    margin-top: 10rem;
  }
  .linkingPics {
    margin: 2em;
  }
  aside {
    margin-top: 10rem;
    width: 90%;
  }
}
